@charset "utf-8";
/*
SPDX-License-Identifier: CC0-1.0
SPDX-FileContributor: Daniel Aleksandersen <https://www.daniel.priv.no/> (2020)
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
SPDX-FileComment: Source: <https://www.ctrl.blog/entry/creative-commons-unicode-fallback-font.html>

Normally, I wouldn’t use a license identifier for CC0. Here’s why I’m using one
in this file:
<https://comment.ctrl.blog/discussion/creative-commons-unicode-fallback-font>
*/

@font-face
{
	font-display: swap;
	font-family: CCSymbols;
	/*Not until CSS3*/
	/*font-synthesis: none;*/
	src:
		url(CCSymbols.woff2) format("woff2"),
		url(CCSymbols.woff)  format("woff");
	unicode-range:
		u+a9,
		u+229c,
		u+1f10d-1f10f,
		u+1f16d-1f16f;
}
