@charset "utf-8";
/*
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
*/
@import url('cc-symbols-font.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:wght@400;700&display=swap');

a
{
	text-decoration-line: underline;
}

a:hover
{
	text-decoration-line: none;
}

/*
These color schemes are based on the Breeze Dark and Breeze Light themes:
<https://community.kde.org/Get_Involved/Design/Breeze>
*/
::selection
{
	background: #3daee9;
}

@media (prefers-color-scheme: light)
{
	html
	{
		background: #ffffff;
		color: #232629;
	}

	::selection
	{
		color: #ffffff;
	}

	a
	{
		color: #2980b9;
	}

	a:hover
	{
		color: #194d6e;
	}

	a:visited
	{
		color: #9d5bb9;
	}

	a:hover:visited
	{
		color: #5d366e;
	}
}

@media (prefers-color-scheme: dark)
{
	html
	{
		background: #1b1e20;
		color: #fcfcfc;
	}

	::selection
	{
		color: #fcfcfc;
	}

	a
	{
		color: #2980b9;
	}

	a:hover
	{
		color: #39b3ff;
	}

	a:visited
	{
		color: #9b59b6;
	}

	a:hover:visited
	{
		color: #d87dff;
	}
}

html
{
	font-family: 'Noto Serif', 'Noto Sans Symbols 2', CCSymbols, serif;
}

code, pre
{
	font-family: 'Source Code Pro', monospace;
	font-size: 90%;
}

/*
Normally, the font-size of <h1>s is decreased for every <article> or <section>
that the <h1>s are in. This prevents that from happening. 2em is the default
font-size for <h1>s.
<https://html.spec.whatwg.org/multipage/rendering.html#sections-and-headings>
*/
h1
{
	font-size: 2em;
	margin: 0;
}

footer p
{
	line-height: 1.1;
	margin: 0;
}

blockquote > *:first-child::before
{
	content: open-quote;
}

blockquote > *:last-child:not(ul)::after
{
	content: close-quote;
}

blockquote > *:last-child > li:last-child > p:last-child::after
{
	content: close-quote;
}

dfn {
	font-style: italic;
	font-weight: bold;
}
