@charset "utf-8";
/*
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022, 2025)
*/
@import url('main.css');

blockquote > *:first-child:not(table)::before
{
	content: open-quote;
}

/*
TODO: Combine the first two.

In CSS, you can do :not(foo, bar, baz), but when you do, html5validator fails
with a parse error. Once html5validator is fixed, those two should be combined.
*/
blockquote > *:last-child:not(ul)::after,
blockquote > *:last-child:not(figure)::after,
blockquote > *:last-child > li:last-child > p:last-child::after,
blockquote > figure:last-child > figcaption::after
{
	content: close-quote;
}
