@charset "utf-8";
/*
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)

REMEMBER: If you need styling for <samp> and friends, then move it from public-inbox-copyright-concerns.css to here.
REMEMBER: If you need styling for nested lists, then move it from submitting-patches.css to here.
*/
@import url('cc-symbols-font.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:wght@400;700&display=swap');

a
{
	text-decoration-line: underline;
}

a:hover
{
	text-decoration-line: none;
}

/*
These color schemes are based on the Breeze Dark and Breeze Light themes:
<https://community.kde.org/Get_Involved/Design/Breeze>
*/
::selection
{
	background: #3daee9;
}

@media (prefers-color-scheme: light)
{
	html
	{
		background: #ffffff;
		color: #232629;
	}

	::selection
	{
		color: #ffffff;
	}

	a, summary
	{
		color: #2980b9;
	}

	a:hover, summary:hover
	{
		color: #194d6e;
	}

	a:visited
	{
		color: #9d5bb9;
	}

	a:hover:visited
	{
		color: #5d366e;
	}

	nav a
	{
		background: linear-gradient(#eff0f1, #e8e9ea);
	}

	nav a:hover
	{
		background: #eff0f1;
	}

	nav span
	{
		color: #232627;
	}
}

@media (prefers-color-scheme: dark)
{
	html
	{
		background: #1b1e20;
		color: #fcfcfc;
	}

	::selection
	{
		color: #fcfcfc;
	}

	a, summary
	{
		color: #2980b9;
	}

	a:hover, summary:hover
	{
		color: #39b3ff;
	}

	a:visited
	{
		color: #9b59b6;
	}

	a:hover:visited
	{
		color: #d87dff;
	}

	nav a
	{
		background: linear-gradient(#373c41, #303539);
	}

	nav a:hover
	{
		background: #31363b;
	}

	nav span
	{
		color: #fcfcfc;
	}
}

html
{
	font-family: 'Noto Serif', 'Noto Sans Symbols 2', CCSymbols, serif;
}

code, pre
{
	font-family: 'Source Code Pro', monospace;
	font-size: 90%;
}

/*
Normally, the font-size of <h1>s is decreased for every <article> or <section>
that the <h1>s are in. This prevents that from happening. 2em is the default
font-size for <h1>s.
<https://html.spec.whatwg.org/multipage/rendering.html#sections-and-headings>
*/
h1
{
	font-size: 2em;
	margin: 0;
}

footer p
{
	line-height: 1.1;
	margin: 0;
}

dfn {
	font-style: italic;
	font-weight: bold;
}

nav ul
{
	list-style: none;
	padding: 0;
}

nav li
{
	display: inline-block;
	min-width: 10ch;
	height: 5ch;
	margin-left: 1ex;
	margin-right: 1ex;
}

nav a
{
	display: table-cell;
	min-width: inherit;
	height: inherit;

	text-align: center;
	vertical-align: middle;

	text-decoration-line: none;

	outline: solid;
	border-radius: 0.5ex;
	outline-color: #727679;
}

nav a:hover
{
	outline-color: #3daee9;
}

nav span
{
	line-height: 3ex;
	margin-left: 1ch;
	margin-right: 1ch;
}
