@charset "utf-8";
/*
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
*/
@import url('main.css');


*
{
	margin: 0;
}

html, body
{
	height: 100%;
	width: 100%;
}

/*
Thanks, Bert Bos <https://www.w3.org/People/Bos/> for teaching me how to
center a <div>:
<https://www.w3.org/Style/Examples/007/center.en.html#viewport3>)
*/
div
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

h1, p
{
	text-align: center;
	line-height: 1.1;
}

h1
{
	font-size: 25vw;
}

p
{
	font-size: 5vw;
}
