{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "_post.html" %}

{% block title %}Another Piece of the Decentralization Puzzle{% endblock %}
{% block completion_time %}2022-03-28T15:51:15-04:00{% endblock %}

{% block post_content %}
<p><a href="{{ generate_relative_url(relative_to_base, "posts/small-step-towards-decentralization.html") }}" hreflang="en-US" type="text/html;charset=utf-8">My march towards decentralization</a> continues! I’m now using <a href="https://git-scm.com/book/en/v2/Git-on-the-Server-GitWeb" target="_blank" rel="external">gitweb</a> to provide a <a href="https://{{ authority }}/gitweb" hreflang="en-US" type="text/html;charset=utf-8"> a Web interface for every Git repo currently being hosted on this site</a>. All one of them! Hopefully, I’ll add more projects to that list in the future. Ultimately, I would like that Web interface to form part of a self-hosted replacement for centralized code forges like <a href="https://github.com/" target="_blank" rel="external">GitHub</a>.</p>
{% endblock %}
