{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <jason@jasonyundt.email> (2022)
#}
{% extends "_post.html" %}

{% block title %}New Guide for Submitting Patches{% endblock %}
{% block completion_time %}2022-07-10T08:21:38-04:00{% endblock %}

{% block post_content %}
<p>As a part of <a href="{{ generate_relative_url(relative_to_base, "posts/how-should-i-accept-patches.html") }}" hreflang="en-US" type="text/html;charset=utf-8">my ongoing quest</a> <a href="{{ generate_relative_url(relative_to_base, "posts/how-should-i-get-permission-to-use-contributions.html") }}" hreflang="en-US" type="text/html;charset=utf-8">to improve the way</a> <a href="{{ generate_relative_url(relative_to_base, "posts/jppa-annotated-and-explained.html") }}" hreflang="en-US" type="text/html;charset=utf-8">that I accept contributions</a>, I’ve created a new guide: <a href="{{ generate_relative_url(relative_to_base, "submitting-patches.html") }}" hreflang="en-US" type="text/html;charset=utf-8">“How to Submit Patches to Jason’s Projects”</a>.</p>
{% endblock %}
