{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "_post.html" %}

{% block title %}Simple Brick Breaker 2nd Pre-release{% endblock %}
{% block completion_time %}2022-07-17T13:04:53-04:00{% endblock %}

{% block post_content %}
	<p>A while ago, I made a game called Simple Brick Breaker. The game isn’t exactly finished, but I’ve decided to release a second pre-release version:</p>
	<p><a href="{{ generate_relative_url(relative_to_base, "posts/simple_brick_breaker_e47d55482f700b43cc6e0ea934c193b13e05e29e.zip") }}" download hreflang="en-US" type="application/zip"><strong>Click here to download Simple Brick Breaker (version e47d55482f700b43cc6e0ea934c193b13e05e29e).</strong></a></p>
	<p>The game (hopefully) works on Linux, macOS and Windows. I don’t have a versioning scheme for the game yet, so the version is just a git commit hash. Enjoy!</p>
{% endblock %}
