{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "_post.html" %}

{% block title %}Simple Brick Breaker Pre-release{% endblock %}
{% block completion_time %}2022-07-13T15:52:29-04:00{% endblock %}

{% block post_content %}
	<p>A while ago, I made a game called Simple Brick Breaker. The game isn’t exactly finished, but I’ve decided to release a pre-release version:</p>
	<p><a href="{{ generate_relative_url(relative_to_base, "posts/simple_brick_breaker_f779170e8a586d549e3606990abd89ee124d3708.zip") }}" download hreflang="en-US" type="application/zip"><strong>Click here to download Simple Brick Breaker (version f779170e8a586d549e3606990abd89ee124d3708).</strong></a></p>
	<p>The game (hopefully) works on Linux, macOS and Windows. I don’t have a versioning scheme for the game yet, so the version is just a git commit hash. Enjoy!</p>
	<p>Simple Brick Breaker uses Godot Engine version 3.4.4.stable.official.419e713a2. If you want the source code for that version of the Godot Engine, then please visit this page: <a href="https://docs.godotengine.org/en/stable/contributing/development/compiling/getting_source.html">https://docs.godotengine.org/en/stable/contributing/development/compiling/getting_source.html</a>.</p>
	<p>The Godot Engine source code contains a file named <code>ca-certificates.crt</code>. If you want the source code for <code>ca-certificates.crt</code>, then please take a look at the <code>thirdparty/README.md</code> file that’s inside Godot’s source code, and then take a look at the table that’s on this page: <a href="https://github.com/Jayman2000/ca-bundle-pr/tree/corresponding-source-for-old-commits#certdatatxt">https://github.com/Jayman2000/ca-bundle-pr/tree/corresponding-source-for-old-commits#certdatatxt</a>.</p>
{% endblock %}
