{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "_post.html" %}

{% block title %}One Small Step Towards Decentralization{% endblock %}
{% block completion_time %}2022-03-23T18:29:05-04:00{% endblock %}

{% block post_content %}
<p>I created this site for multiple reasons. One of those reasons was decentralization. I want my content, content that I put time, effort and (sometimes) money into creating, to be resistant to censorship and single points of failure.</p>
<p>Today, I’ve taken another small step towards decentralization. While <a href="https://github.com/Jayman2000/jasons-web-site" target="_blank" rel="external">the main repo for this site</a> will remain on <a href="https://github.com/" target="_blank" rel="external">GitHub</a>, you can now get a copy by running either of these commands:</p>
<ul>
	<li><code><a href="https://git-scm.com/" target="_blank" rel="external">git</a> clone ftp://jasonyundt.website/git/jasons-web-site</code></li>
	<li><code>git clone https://jasonyundt.website/git/jasons-web-site</code></li>
</ul>
<p>In the future, I plan on making this site the main hub for most of my projects and creating a more decentralized way for people to contribute.</p>
{% endblock %}
