{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <jason@jasonyundt.email> (2023)
#}
{% extends "_post.html" %}

{% block title %}Why Do I Use 🅭🄍 for So Much of My Work?{% endblock %}
{% block completion_time %}2023-04-15T08:21:31-04:00{% endblock %}
{% block css_url %}{{ generate_relative_url(relative_to_base, "why-do-i-use-cc0.css") }}{% endblock %}

{% block post_content %}
<p>There are certainly a lot of disadvantages to using <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="external">🅭🄍</a> for software. Just take a look at…</p>
<ul>
	<li><a href="https://www.gnu.org/licenses/license-list.html#CC0" target="_blank" rel="external">what the FSF has to say about using 🅭🄍 on software.</a></li>
	<li><a href="https://opensource.org/faq/#cc-zero" target="_blank" rel="external">what the OSI has to say about using 🅭🄍 on software.</a></li>
	<li><a href="https://lists.fedoraproject.org/archives/list/legal@lists.fedoraproject.org/thread/RRYM3CLYJYW64VSQIXY6IF3TCDZGS6LM/" target="_blank" rel="external" hreflang="en">the fact that the Fedora Project disallows 🅭🄍 software (unless it was included previously).</a></li>
	<li>the fact that so many different people and organizations (including <a href="https://github.com/creativecommons/cc-legal-tools-data/issues/45" target="_blank" rel="external" hreflang="en-US">Creative Commons itself sometimes</a>) incorrectly call 🅭🄍 a license (<a href="https://creativecommons.org/faq/#how-do-cc-licenses-operate" target="_blank" rel="external">it’s actually a public domain dedication</a>).</li>
	<li>the <a href="https://github.com/creativecommons/creativecommons.org/issues/1212" target="_blank" rel="external" hreflang="en-US">ongoing</a> <a href="https://github.com/creativecommons/creativecommons.org/issues/1218" target="_blank" rel="external" hreflang="en-US">bugs</a> with 🅭🄍’s legal status.</li>
</ul>

<p>Despite those bugs, I still use 🅭🄍 for software. Why?</p>

<hr>

<p>The main function of 🅭🄍 is to remove or nullify a work’s copyright. Legally speaking, <a href="https://copyright.gov/what-is-copyright/" target="_blank" rel="external" hreflang="en-US">effectively all creative work are automatically copyrighted</a>. Unfortunately, people don’t seem to know this, or at least, they don’t act like it’s true. People act like you have to intentionally do something to make a work copyrighted, or just ignore copyright if the work isn’t made by a large enough organization.</p>

<p>There are two things that make laws followed: actual enforcement by governments and choices made by people to follow the law regardless of whether or not there’s actual enforcement. My works effectively can’t be protected by copyright law because neither of those things happen. As I mentioned before, people just seem to ignore copyright for smaller works. In fact many copyright holders seem to ignore the copyright on their own works! I don’t know of an example off of the top of my head, but I’ve definitely seen situations where people will apply a license to their work that requires attribution, and then act like no attribution is required. In other words, some people apply say <a href="https://directory.fsf.org/wiki/License:Expat" target="_blank" rel="external" hreflang="en-US">the expat license</a> to their work, but don’t expect anyone to actually follow the license. They just let people do whatever they want with the work.</p>

<p>Additionally, the only way to get the law enforced by the government would be to sue for copyright infringement, but I just don’t have the resources to do that at the moment.</p>

<p>What I’m trying to say is: while my works are legally copyrighted, they effectively aren’t copyrighted because there’s such a small chance that the law will actually get enforced. That’s why I like 🅭🄍. By eliminating or nullifying a work’s copyright, 🅭🄍 aligns the law with reality. It makes works that effectively aren’t copyrighted actually not copyrighted.</p>

<hr>

<p>I’m also interested in replacing 🅭🄍 with <a href="https://wpdd.info/" target="_blank" rel="external" hreflang="en-US">Jason Self’s <cite>Worldwide Public Domain Dedication</cite></a>. The <cite>WPDD</cite> fixes the concerns that <a href="https://www.fsf.org/" target="_blank" rel="external">the FSF</a>, <a href="https://opensource.org/" target="_blank" rel="external">the OSI</a> and <a href="https://fedoraproject.org/" target="_blank" rel="external">the Fedora Project</a> have with 🅭🄍, but it’s still just a draft at the moment.</p>
{% endblock %}
