{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "common/_base_page.html" %}

{% block site_title %}Jason’s Sofware Forge{% endblock %}

{% block full_title %}Jason’s Sofware Forge{% endblock %}
{% block body_content %}
	<h1>Welcome to Jason’s Sofware Forge!</h1>
	<p>This site is where Jason’s <a href="https://en.wikipedia.org/wiki/Forge_(software)" target="_blank" rel="external" hreflang="en">Software Forge</a> will live. At the Forge, you’ll be able to</p>
	<ul>
		<li>access the main version control repos for Jason’s projects and</li>
		<li>contribute to those projects.</li>
	</ul>
{% endblock %}
