{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2023)
#}
{% extends "_base_page.html" %}

{% block title %}Jason’s Gitweb Instance is Temporarily Unavailable{% endblock %}
{% block body_content %}
<h1>{{ title }}</h1>
<p>Unfortunately, I’ve decided to shutdown my Gitweb instance temporarily. All of the repos that were available via the instance are now available via GitHub:</p>
<ul>
	<li><a href="https://github.com/Jayman2000/jasons-copying-info-tool" target="_blank" rel="external" hreflang="en-US"><code>jasons-copying-info-tool</code></a></li>
	<li><a href="https://github.com/Jayman2000/jasons-kickstart-compiler" target="_blank" rel="external" hreflang="en-US"><code>jasons-kickstart-compiler</code></a></li>
	<li><a href="https://github.com/Jayman2000/jasons-nixos-config" target="_blank" rel="external" hreflang="en-US"><code>jasons-nixos-config</code></a></li>
	<li><a href="https://github.com/Jayman2000/jasons-rhel-config" target="_blank" rel="external" hreflang="en-US"><code>jasons-rhel-config</code></a></li>
	<li><a href="https://github.com/Jayman2000/jasons-self-love-trainer" target="_blank" rel="external" hreflang="en-US"><code>jasons-self-love-trainer</code></a></li>
	<li><a href="https://github.com/Jayman2000/scene-2-uwmf" target="_blank" rel="external" hreflang="en-US"><code>scene-2-uwmf</code></a></li>
	<li><a href="https://github.com/Jayman2000/simple-brick-breaker" target="_blank" rel="external" hreflang="en-US"><code>simple-brick-breaker</code></a></li>
</ul>
{% endblock %}
