{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "_base_page.html" %}

{% set footer = true %}

{% block full_title %}Jason’s Web Site{% endblock %}
{% block body_content %}
	<h1>Welcome to Jason’s Web Site!</h1>
	<p>This site is for things that Jason Yundt has created. At the moment, the only thing here is a makeshift blog.</p>
	<h2>Posts</h2>
	{# TODO: Technically, this list is ordered, but I’m still using a <ul>. Would it make sense to use an <ol> with CSS to change the numbers? #}
	<ul>
		{#
		posts is a SortedList [1]. SortedLists always put the smallest item first and the largest item last. In this situation, that means the the oldest post (the one with the “smallest” timestamp) is the first item in the list. reverse() is used to work around this problem.

		[1]: <http://www.grantjenks.com/docs/sortedcontainers/sortedlist.html#sortedlist>
		#}
		{% for post in reversed(posts) %}
			<li><a href="{{ post.relative_url }}" hreflang="en-US" type="text/html;charset=utf-8">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
