{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)

Most of the time, I’ll use hyphens instead of spaces in URLs. For this URL in particular, I’m using an underscore because that’s what Neocities requires. See <https://www.reddit.com/r/neocities/comments/43jb85/404_error_page_question/>.
#}
{% extends "common/_not_found.html" %}

{% block homeurl %}/index.html{% endblock %}
