{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
<!DOCTYPE html>
<html lang="en">
	<head>
		{#
		MIME hint note: This file uses an http-equiv="content-type" to
		hint at the entire MIME type.
		#}
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<title>{% block title %}— Jason’s Web Site{% endblock %}</title>
		<link href="main.css" rel="stylesheet" type="text/css;charset=utf-8">
	</head>
	<body>
		{% block content %}{% endblock %}

		<footer>🅭🄍1.0 This page is dedicated to the public domain using <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="external" hreflang="en">the CC0 1.0 Universal Public Domain Dedication</a>.</footer>
		<footer><a href="https://www.ctrl.blog/entry/creative-commons-unicode-fallback-font.html" target="_blank" rel="external" hreflang="en">The CCSymbols font</a> was created by <a href="https://www.daniel.priv.no/" target="_blank" rel="external" hreflang="en">Daniel Aleksandersen</a>.</footer>
	</body>
</html>
