{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		{#
		MIME hint note: This file uses an http-equiv="content-type" to
		hint at the entire MIME type.
		#}
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		{#
		CSP directives [1], and why they’re set or not set the way they
		are:
			child-src: same as default-src
			connect-src: same as default-src
			default-src: I’m telling it to only allow approved URLs
			font-src: required for Noto fonts
			frame-src: same as default-src
			img-src: same as default-src
			manifest-src: same as default-src
			media-src: same as default-src
			object-src: same as default-src
			prefetch-src: experimental
			script-src: same as default-src
			script-src-elem: experimental
			script-src-attr: experimental
			style-src: required for main.css
			style-src-elem: experimental
			style-src-attr: experimental
			worker-src: experimental

			base-uri: the best option for base-uri depends on the scheme
			sandbox: not allowed [2]

			form-action: there are not forms
			frame-ancestors: not allowed [2]
			navigate-to: experimental

			report-uri: deprecated
			report-to: experimental

			require-sri-for: experimental
			require-trusted-types-for: experimental
			trusted-types: experimental
			upgrade-insecure-requests: Any links that I include will probably already be HTTPS. If they’re HTTP, then that probably means that the site that I’m linking to doesn’t support HTTPS.

			block-all-mixed-content: deprecated
			plugin-types: deprecated
			referrer: deprecated and non-standard

		[1]: <https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy#directives>
		[2]: <https://html.spec.whatwg.org/dev/semantics.html#attr-meta-http-equiv-content-security-policy>
		#}
		<meta http-equiv="content-security-policy" content="default-src 'none'; font-src {{ csp_self_source }} https://fonts.gstatic.com; style-src {{ csp_self_source }} https://fonts.googleapis.com; base-uri {{ csp_self_source }}; form-action 'none';">
		{% if base_url is not none %}
			<base href="{{ base_url }}">
		{% endif %}
		<title>{% block full_title %}{% block title %}{% endblock %} — Jason’s Web Site{% endblock %}</title>
		<link href="main.css" rel="stylesheet" type="text/css;charset=utf-8">
	</head>
	<body>
		{% block pre_body_content %}{% endblock %}
		{% block body_content %}{% endblock %}

		<footer>
			<p><strong><a href="v4v.html" hreflang="en-US" type="text/css;charset=utf-8">If you received value from this site, then please contribute.</a></strong></p>

			<p>🅭🄍1.0 This page is dedicated to the public domain using <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="external">the CC0 1.0 Universal Public Domain Dedication</a>.</p>

			<p><a href="https://www.ctrl.blog/entry/creative-commons-unicode-fallback-font.html" target="_blank" rel="external" hreflang="en">The CCSymbols font</a> was created by <a href="https://www.daniel.priv.no/" target="_blank" rel="external" hreflang="en">Daniel Aleksandersen</a>.</p>
		</footer>
	</body>
</html>
