{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "_base.html" %}
{% block full_title %}Jason’s Web Site{% endblock %}
	{% block body_content %}
	<p>This site is for things that Jason Yundt has created. At the moment, the only thing here is a makeshift blog.</p>
	<h2>Posts</h2>
	{# TODO: Technically, this list is ordered, but I’m still using a <ul>. Would it make sense to use an <ol> with CSS to change the numbers? #}
	<ul>
	{% for post in posts %}
		<li><a href="{{ post }}" hreflang="en-US">{{ post }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}
