{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)

Most of the time, I’ll use hyphens instead of spaces in URLs. For this URL in particular, I’m using an underscore because that’s what Neocities requires. See <https://www.reddit.com/r/neocities/comments/43jb85/404_error_page_question/>.
#}
{% extends "_bare.html" %}

{% block title %}404{% endblock %}
{% block css_url %}not_found.css{% endblock %}

{% block body_content %}
	{# TODO: Is there a more appropriate element than div. #}
	<div>
		<h1><a href="https://www.rfc-editor.org/rfc/rfc7231.html#section-6.5.4" target="_blank" rel="external" hreflang="en">404</a>;</h1>
		<p><a href="https://www.w3.org/TR/webarch/#def-resource" target="_blank" rel="external" hreflang="en">resource</a> not found.</p>
	</div>
{% endblock %}
