{#
SPDX-FileNotice: 🅭🄍1.0 This file is dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
#}
{% extends "_base.html" %}
{% block title %}V4V{% endblock %}
{% block body_content %}
<h1>This Site Is Available Under the V4V Model</h1>
<p>The term “Value for Value” originated on <a href="https://www.noagendashow.net/" target="_blank" rel="external" hreflang="en">the <cite>No Agenda</cite> show</a>. The idea behind the Value for Value model is simple: I put work into creating this site. Have you received any value from it? If you have, then please contribute that value back to the site.</p>
<p>There’s many different ways to contribute back to Value for Value projects. For this one in particular, here’s what you can to to contribute value:</p>
<ol>
	<li>Link to this site</li>
	<li><a href="https://github.com/Jayman2000/jasons-web-site" target="_blank" rel="external" hreflang="en">Submit issues and pull requests</a></li>
</ol>
{% endblock %}
