/*
SPDX-FileNotice: 🅭🄍1.0 This file was dedicated to the public domain using the CC0 1.0 Universal Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0/>.
SPDX-FileContributor: Jason Yundt <swagfortress@gmail.com> (2022)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/*
 * TODO: CC Symbols fallback font:
 * <http://v65ngaoj2nyaiq2ltf4uzota254gnasarrkuj4aqndi2bb5lw6frt3ad.onion/entry/creative-commons-unicode-fallback-font.html>
 */

:root
{
	--notice-width: 30ch;
	font-family: 'Noto Serif', serif;
}

iframe
{
	border-radius: 1ch;
	border-style: solid;
	height: 25ch;
	width: var(--notice-width);
}
